.category {
  grid-row: 4 / span 1;
  height: auto;
  border: 4px solid black;
  border-top: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  font-family: "Syne", sans-serif;
  padding: 10px 20px 40px 20px;
}
.category_card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.category_card {
  list-style: none;
  border: 4px solid black;
  border-radius: 10px;
  padding-bottom: 10px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.category_card img {
  border-radius: 6px 6px 0px 0px;
  object-fit: cover;
  aspect-ratio: 3 / 4;
}
.category_card p {
  margin: 0px;
  max-width: 80%;
  flex: 1;
}
.category_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.category_header {
  display: flex;
  gap: 20px;
}
.category_show-all {
  text-decoration: underline;
  cursor: pointer;
}
.category_section ul {
  padding-inline-start: 0;
}