@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

#root {
  display: grid;
}
body {
  display: grid;
  grid-template-rows: 80px 60px 300px auto 300px 300px;
  overflow: hidden;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  overflow: scroll;
  overflow-x: hidden;
}
h1 {
  font-weight: 800;
}
.landingContainer {
  display: grid;
}
a {
  text-decoration: none;
  color : black;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
.product-list {
  width: 95%;
  padding: 0px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.product-list img {
  border-radius: 6px 0px 0px 6px;
  height: 100%;
}
.product-list li {
  display: flex;
  gap: 10px;
  font-family: "Syne", sans-serif;
  border: 4px solid black;
  border-radius: 10px;
  padding-right: 5px;
}
.product-list li p:nth-child(1) {
  font-size: larger;
}
.product-list li p:nth-child(2) p:nth-child(3) {
  font-size: large;
  font-family: 'Space Grotesk', sans-serif;
}
.product-list button {
  font-family: "Syne", sans-serif;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}
.product-list .wishlist-btn {
  background-color: #D0F032;
}
.filter-section {
  width: 95%;
  padding: 0px 20px 0px 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  font-family: "Syne", sans-serif;
  margin-top: 20px;
}
.wishlist-h2 {
  font-family: "Syne", sans-serif;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  text-align: center;
}
.error-message {
  color: red;
}
.success-message {
  color: green;
}

@media screen and (max-width : 860px) {
  .product-list {
    padding: 0;
    margin: auto;
    gap: 10px;
    margin-bottom: 10px;
  }
  .filter-section {
    padding: 0;
    margin: 10px auto 10px auto;
    gap: 10px;
  }
  .filter-section div {
    width: 100%;
  }
}